@page "/"

<PageTitle>Проект "Медицинская информационная система"</PageTitle>

<h3>Система для работы с базой данных медицинского учреждения</h3>

Для проверки работоспособности API просмотрите информацию в других вкладках
